.formData{
    height: 250px;
    width: 600px;
    border: 2px solid gray;
    text-align: center;
    margin: 30px auto;
    border-radius: 10px;
}
.formNames{
    display: flex;
    margin-left: 50px;
    padding: 10px;

}
.inputFields{
    padding: 10px;
    margin-right: 10px;
    height: 20px;
    width: 200px;
    border: 2px solid gray;
    border-radius: 5px;
    font-size: 15px;
}
.formSelect{
    margin: 10px;
    height: 30px;
    width: 90px;
    border: 2px solid gray;
    border-radius: 5px;
    font-size: 15px;
    background-color: rgb(167, 180, 176);

}
.formCodes{
    margin-top: 10px;
  margin: 10px;  
}
.formButton{
    height: 35px;
    margin-top: 20px;
    width: 200px;
    border: 2px solid rgb(106, 187, 207);
    border-radius: 5px;
    font-size: 15px;
    background-color: rgb(94, 162, 231);
}
.formButton:hover{
    cursor: pointer;
    background-color: limegreen;
}
.errorText{
    margin-top: -15px;
    margin: 0px;
    color: red;
}
.formResult{
    margin-top:70px;
    background-color: mediumturquoise;
    border-radius: 5px;
    border: 2px solid green;
}
.anagram{
    padding: 10px;
    width: 700px;
    margin: 30px auto;
    height: 150px;
    text-align: center;
    border: 2px solid gray;
    border-radius: 5px;
}
.resultButton{
    height: 40px;
    margin-top: 20px;
    width: 100px;
    border: 2px solid gray;
    border-radius: 5px;
    font-size: 15px;
}
.resultStatus{
    display: flex;
    text-align: center;
    margin-top: 50px;
    margin-left: 140px;
    
}
.resultText{
    margin-right: 10px;

}
.tempTracker{
    padding: 10px;
    width: 700px;
    margin: 30px auto;
    height: 100px;
    text-align: center;
    border: 2px solid gray;  
    border-radius: 5px;

}
.tempResult{
    margin-top: 50px;
}
.title{
    text-align: center;
    padding: 10px;
    background-color: lightgreen;
    width: auto;
    height: 50px;
    align-items: center;
    margin-top: 10px;
    font-size: 30px;
}
.links{
    display: flex;
    
}